{% extends "amigos/base.html"%}
{% block navbar %}
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{% url 'amigos:recente' %}">Recente</a>
    <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="{% url 'amigos:todos' %}">Todos</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'amigos:pendentes' %}">Pendentes</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'amigos:agregar' %}">Agregar</a>
</nav>
{% endblock %}
{% block content %}  


    {% for atividade in atividades%}
    <div class="vstack gap-2">
        <div class="bg-light">
            >>
            <a href="#" class="link-dark"><b> {{atividade.user | capfirst}}</b></a> 
            <!--{{atividade|default:"crio"}}-->
            crio
            <a href="#" class="link-dark"><b> {{atividade.tipo}}</b></a>
            ,
            <!--há {{tempo|default:"5 minutos"}}-->
            {{ atividade.data|date:'Y-m-d H:i' }}
        </div>
    </div>
    
    {% endfor %}
{% endblock %}

user tipo data