{% with myDefault="Não sei"%}
<div class="row liga-card">
    <div class="d-grid gap-2 col">
        <a href="" class="btn btn-outline-secondary mb-4 ms-5 me-5" >
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{materia|default:myDefault}}</h5>
                        <p class="card-text">{{encarregado|default:myDefault}}</p>
                    </div>
                    <div class="col">
                        <p class="card-text">{{frecuencia|default:myDefault}}</p>
                        <p class="card-text">Vagas disponíveis: {{vagas|default:myDefault}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <br>
</div>
{% endwith %}
