
<button class="btn btn-info position-absolute top-0 start-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Menuzinho
</button>
<div class="offcanvas offcanvas-start" style="background-color: #6FA8FF;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Psiu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <a id="home-link" class="btn btn-white" href="{% url 'psiu:main' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033925137378066442/house.png" height="75" width="75"></a>
                </div>
                <div class="col mt-4">
                    Pagina Inicial
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a id="carona-link" class="btn btn-white" href="{% url 'psiu:carona' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033926816026611712/parking.png" height="75" width="75"></a>
                </div>
                <div class="col mt-4">
                    Carona
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a id="grupo-estudos-link" class="btn btn-white" href="{% url 'psiu:grupo_estudos' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033926469824561252/library.png" height="75" width="75"></a>
                </div>
                <div class="col mt-4">
                    Grupo de Estudos
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a id="extracurriculares-link" class="btn btn-white" href="{% url 'psiu:extracurriculares' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033926121827340378/basket-ball.png" height="75" width="75"></a>
                </div>
                <div class="col mt-3">
                    Atividades Extracurriculares
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a id="ligas-academicas-link" class="btn btn-white" href="{% url 'psiu:ligas_academicas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033927490936250430/medal.png" height="75" width="75"></a>
                </div>
                <div class="col mt-4">
                    Ligas Academicas
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a id="conhecer-pessoas-link" class="btn btn-white" href="{% url 'psiu:conhecer_pessoas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1009800857631592489/1033927869719658616/communication.png" height="75" width="75"></a>
                </div>
                <div class="col mt-4">
                    Conhecer Pessoas
                </div>
            </div>
        </div>
    </div>
</div>