{% extends 'base.html' %}
{% block image-page %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1044755829473161297/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}
{% block content %}

<br><br>


<h5>O que é o Psiu e como ele funciona?</h5>
O Psiu é um aplicativo de interação social, que permite que um grupo de pessoas possivelmente desconhecidas possa se encontrar em um lugar e hora específicos com um objetivo comum, que seja estudar, jogar ou conversar.
Ele funciona em um sistema de cards, de localização, de filtro e de chat.
<br><br><br>

<h5>Como posso criar uma atividade?</h5>
Cada seção do aplicativo possui um botão - na parte superior esquerda - que lhe permite criar qualquer atividade. Clique nesse botão e preencha os campos para criar a sua atividade e divirta-se :)
<br><br><br>

<h5>Como posso eliminar/editar uma atividade?</h5>
Se você for o criador da atividade, aparecerá um botão no final da página de informação da sua atividade que lhe permitirá apagá-la ou editá-la.
<br><br><br><br><br>

<center>Não encontrou seu problema? Faça sua pergunta abaixo</center>
<br>

<!--<div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="nome" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">E-mail</label>
    <input type="email" class="form-control">
</div>-->
<div class="mb-3">
    <textarea class="form-control" rows="3" placeholder="Mande sua dúvida..."></textarea>
</div>
<a href="" class="btn btn-primary">Enviar</a>

{% endblock %}