<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="background-color: #6FA8FF;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <div class="container text-center" style="color: rgba(111,168,255,1)">
        <div class="row">
            -
        </div>
        <div class="row" style="color: rgba(0,0,0,1)">
            <h6>Ei,</h6>
            <h1 class="text-center">Psiu!</h1>
        </div>
        <div class="row" style="color: rgba(0,0,0,1)">
            <h6 class="text-center">Crie sua conta!</h6>
        </div>
        <div class="row">
            -
        </div>
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col mb-2">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        {% csrf_token %}
                        {{ criar_form.username }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-1">
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight:bold">Nome</span>
                        {% csrf_token %}
                        {{ criar_form.first_name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight:bold">Sobrenome</span>
                        {% csrf_token %}
                        {{ criar_form.last_name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight:bold">E-mail</span>
                        {% csrf_token %}
                        {{ criar_form.email }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight:bold">Senha</span>
                        {% csrf_token %}
                        {{ criar_form.password1 }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-weight:bold">Confirmar Senha</span>
                        {% csrf_token %}
                        {{ criar_form.password2 }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary text-black" style="--bs-btn-border-radius: 1rem; --bs-btn-padding-x: 1rem; --bs-btn-padding-y: .5rem; ">Criar Conta</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>