{% extends 'base.html' %}
{% block image-page %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}
{% block content %}

<!doctype html>
<html lang="pt-br">


<form action="" method="post">
    
    {% csrf_token %}
    <div class="container text-left" style="color: rgba(0,0,0,1)">
        <div class="form-group">
            <h4>Criando carona</h4>
        </div>
        <!--Instructions: build the form to create carona, when its ready make sure to add the field "name" with the value corresponding to the model, I left the list of fields in the next line-->
        <!--Fields: NomeCarona LocalSaida LocalChegada DataHora Vagas Adicionais-->

        <div class="form-group">
            <label for="">Nome da carona</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="nomeCarona"  value="{{carona_temp.nomeCarona}}">
        </div>
        
        <div class="form-group">
            <label for="">Data</label>
            <input type="datetime-local" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="dataHora"  value="{{carona_temp.dataHora}}">
        </div>
        
        <div class="form-group">
            <label for="">Lugar de saída</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localSaida"  value="{{carona_temp.localSaida}}">
        </div>
        
        <div class="form-group">
            <label for="">Lugar de chegada</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localChegada"  value="{{carona_temp.localChegada}}">
        </div>
        
        <div class="form-group">
            <label for="">Vagas disponíveis</label>
            <input type="number" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="vagas"  value="{{carona_temp.vagas}}" min="0" max="16">
        </div>
        
        <div class="form-group">
            <label for="">Descrição</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="adicionais"  value="{{carona_temp.adicionais}}" >
        </div>
        
        <br>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                <button type="reset" class="btn btn-secondary">Cancelar</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Criar</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</form>

{% endblock  %}
