{% extends 'base.html' %}
{% block image-page %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}
{% block content %}

<!doctype html>


<p class="text-center">{{carona.adicionais}}</p>

<div class = "" style = "color: rgba(0,0,0,1)">
    <h5>Dados</h5>
    <div class="row">
        <div class="d-grid gap-2 col mx-auto">
            <button class="btn btn-outline-secondary" type="button">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                            <p class="card-text">{{carona.dataHora}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text-left">Saindo de:  {{carona.localSaida}}<br>Indo para: {{carona.localChegada}}</p>
                        </div>
                    <div class="col">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <p class="card-text">Vagas disponíveis: {{carona.vagas}}</p>
                        </div>
                    </div>    
                </div>
            </button>
        </div>
    </div>
    <br>
    <h5>Lugar</h5>
    <br>
    <h1 class="text-center">Mapa</h1>
    <br>
    <!--Contato esta em base.html-->
</div>
<!--carona perfil-->


<br>

{% endblock  %}
{% block contato %}
{% include "includes/contatoCard.html" with contato=contato%}       
{% endblock  %}
