{% extends 'base.html' %}
{% block image-page %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419539966013521/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}
{% block content %}

<!doctype html>


<p class="text-center">{{grupo.adicionais}}</p>

<div class = "" style = "color: rgba(0,0,0,1)">
    <h6>Dados</h6>
    <div class="row">
        <div class="d-grid gap-2 col mx-auto">
            <button class="btn btn-outline-secondary" type="button">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                            <p class="card-text">{{grupo.dataHora}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text-left">Local: {{grupo.local}}</p>
                        </div>
                    <div class="col">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <p class="card-text">Vagas disponíveis: {{grupo.vagas}}</p>
                        </div>
                    </div>    
                </div>
            </button>
        </div>
    </div>
    <br>
    <h6>Participantes</h6>
    <br>
    <h1 class="text-center">os cara</h1>
    <br>
    <!--Contato esta em base.html-->
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar participante
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" method="post">
        {% csrf_token %}

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar participante</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{form}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">AgregaR</button>
        </div>
      </form>
    </div>
  </div>

{% endblock  %}
