{% extends 'base.html' %}
{% block image-page %}

{% if tipo == 'carona' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'estudo' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419539966013521/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'extracurricular' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419758216617984/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'conhecer' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419982062436403/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'liga' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419863707557938/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endif %}

{% endblock %}
{% block content %}
<!doctype html>

<body>

<p class="text-center">{{grupo.adicionais}}</p>
<div class="" style="color: rgba(0,0,0,1)">
    <br>
    <center>
        <div class="card" style="width: 35rem;">
            <div class="card-body">
                <center>
                    <p class="card-text">Esse grupo será focado na matéria de {{grupo.materia}}</p>
                    <p class="card-text">ele será realizado em {{grupo.dataHora}}</p>
                    <p class="card-text">e possui {{ vagasRestantes }} vagas disponíveis.</p>
                </center>
            </div>
        </div>
    </center>
    <br>
    <div class="row mb-3" style="color: rgba(0,0,0,1)">
        <div class="col text-center">
            <a class="text-dark btn btn-primary" href="#void" onclick="redirectSala();" style="font-weight: bold">Chat do grupo</a>
        </div>
    </div>
    <div class="row mx-auto text-center">
        <a href="{% url 'psiu:modificar_atividade' %}">Modificar Atividade</a>
    </div>
    <br>
    <h5>Participantes</h5>
    {% if participantes %}
    {% load static %}
    <div class="row mb-3">
        <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner" id="participantes">
                <!--Filled with js-->
                <div style="display: None;">
                    {% for p in participantes %}
                    <div class="participante">
                        <div class="col col-sm">
                            <img src="{% get_media_prefix %}{{p.image}}" class="rounded-circle" height="100" width="100" style="margin-top:23px">
                        </div>
                        <div class="col  col-sm">
                            <br><br>
                            <h5>{{p.nome}}</h5>
                            <p>{{p.rol}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <button class="carousel-control-prev d-none d-xl-block" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none d-xl-block" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

    <script>
        var p = document.getElementsByClassName("participante");
        console.log("Se obtuvieron", p.length, "participantes")
        place = document.getElementById("participantes");
        place.innerHtml = ""
        let active = true
        let newSlide = null;
        let newRow = null;
        let nParticipantes = p.length
        for (let i = 0; i < nParticipantes; i++) {
            console.log(i % 2);
            if (!(i % 2)) {
                console.log("create new slide")
                newSlide = document.createElement('div');
                newSlide.classList.add("carousel-item");
                if (active) newSlide.classList.add("active");
                active = false
                newRow = document.createElement('div');
                newRow.classList.add("row");
                newSlide.appendChild(newRow);
                place.appendChild(newSlide)
            }
            //newRow.appendChild(p[i]);
            newRow.innerHTML += p[i].innerHTML
        }
    </script>
    {% else %}
    Ainda não há participantes.
    {% endif  %}
</div>

<br>
<script>
    function redirectSala() {
        var objectType = '{{ grupo.sala.name }}';
        window.location.href = "/psiuChat/" + objectType;
    }
</script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if isParticipante == False %}
    {% if vagasRestantes > 0 %}
        <div class="col text-center">
            <a href="../{{ participar }}/{{ grupo.id }}" class="btn btn-primary">Participar da atividade</a>
        </div>
    {% endif %}
{% else %}
    {% if isCriador == False %}
        <div class="col text-center">
            <a href="../{{ sair }}/{{ grupo.id }}" class="btn btn-danger">Sair da atividade</a>
        </div>
    {% endif %}
{% endif %}

<br>
<center>
    <iframe
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBr3KJlyXb0GIW4J9oSxm6ZfKurj-LKVRA
        &q={{grupo.local}}">
    </iframe>
</center>

<div class="mt-5"></div>

</body>
{% if isCriador %}
    <center>
    </center>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="" class="btn btn-secondary">Editar {{ minusculo }}</a>
            <a href="../{{ apagar }}/{{ grupo.id }}" class="btn btn-danger">Apagar {{ minusculo }}</a>
        </div>
    </div>
{% endif %}
<br>
{% endblock  %}
{% block contato %}
<br>     
{% endblock  %}
