{% extends 'base.html' %}
{% block image-page %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419863707557938/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}
{% block content %}


<!doctype html>
<html lang = "pt-br">

<div class = "text-center" style = "color: rgba(0,0,0,1)">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#fitro_form">
                Filtrar por ↓
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="center">
            <div class="input-group mb-3 ms-4">
                <input type="text" class="form-control" placeholder="Barra de pesquisa" aria-label="Recipient's username" aria-describedby="basic-addon2" width="100">
                <button class="btn btn-outline-secondary me-5" type="button" id="button-addon2">P</button>
              </div>
        </div>
    </div>
    
</div>

<br>
    <!--Pra fazer mais facil pode botar como um include, os campos sao materia, encarregado, frecuencia, vagas-->
    {% include "includes/ligaOficialCard.html" with materia="ENG1015 - L336" encarregado="Felipe Lemos" frecuencia="4ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1026 - L328" encarregado="Rian Lima" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1033 - L120" encarregado="----------" frecuencia="6ª feira - 7-9H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1033 - L110" encarregado="----------" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1033 - L164" encarregado="----------" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1041 - L654" encarregado="Beatriz Marques" frecuencia="5ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1051 - L144" encarregado="Luis Paulo Gonçalves" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1051 - L418" encarregado="Luis Paulo Gonçalves" frecuencia="3ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1061 - L210" encarregado="Igor Carneiro" frecuencia="3ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="FIS1071 - L654" encarregado="Beatriz Marques" frecuencia="5ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1007 - LABGRAD" encarregado="Rafaela Maria" frecuencia="2ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1007 - LABGRAD" encarregado="Juliana Pinheiro" frecuencia="5ª feira - 14-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1007 - LABGRAD" encarregado="Juliana Pinheiro" frecuencia="3ª feira - 14-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1007 - LABGRAD" encarregado="Felipe Benevolo" frecuencia="6ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1007 - LABGRAD" encarregado="Mª Carolina Esteves" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="Tulio" frecuencia="2ª feira - 15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="João Pedro" frecuencia="5ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="Gabriel" frecuencia="5ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="Thibaud" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="Miguel" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="INF1025 - LABGRAD" encarregado="Tulio" frecuencia="6ª feira - 10H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1154 - L234" encarregado="Gustavo Acary" frecuencia="3ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1158 - L252" encarregado="Brendo A Bazilio" frecuencia="4ª feira - 17-18H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1158 - L252" encarregado="Brendo A Bazilio" frecuencia="5ª feira - 17-18H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L270" encarregado="Kelvin e Natalia" frecuencia="5ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L270" encarregado="João Pedro" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L252" encarregado="Kelvin e João Pedro" frecuencia="4ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L252" encarregado="Miguel de Pinho Garcia" frecuencia="6ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L318" encarregado="Antonio e Miguel" frecuencia="6ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L270" encarregado="Miguel de Pinho Garcia" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1161 - L318" encarregado="Joaquim e Natalia" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1162 - L456" encarregado="Manuela Lacerda" frecuencia="2ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1163 - L456" encarregado="Rafael Toledano" frecuencia="6ª feira - 13-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1182 - L456" encarregado="Manuela Lacerda" frecuencia="2ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1202 - L118" encarregado="Mateus de Jesus" frecuencia="4ª feira - 17-19H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1250 - L258" encarregado="Yuri S Martins" frecuencia="6ª feira - 7-9H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1250 - L314" encarregado="Livia Amaro" frecuencia="6ª feira - 13-14H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1250 - L318" encarregado="Wanderson Bezerra" frecuencia="6ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1250 - L314" encarregado="Vitor Bezerra" frecuencia="6ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1260 - L318" encarregado="João Felipe" frecuencia="5ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1260 - L314" encarregado="Livia Amaro" frecuencia="6ª feira - 14-15H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1310 - L216" encarregado="Miguel dos Anjos" frecuencia="5ª feira - 17-19H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1320 - ONLINE" encarregado="Vinicius Oliveira" frecuencia="5ª feira - 19-20H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="MAT1320 - L520" encarregado="Vinicius Oliveira" frecuencia="3ª feira - 11-13H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="QUI1740 - L310" encarregado="Felipe Nagib" frecuencia="6ª feira - 15-17H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="QUI1741 - L154" encarregado="Moyses L Sander" frecuencia="6ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="QUI1972 - L274" encarregado="Pedro Lucas" frecuencia="6ª feira - 7-9H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="QUI1972 - L238" encarregado="David C Zeitune" frecuencia="6ª feira - 9-11H" vagas=20 %}
    {% include "includes/ligaOficialCard.html" with materia="QUI1972 - L238" encarregado="Lorena O Ballesta" frecuencia="6ª feira - 13-15H" vagas=20 %}
    
{% endblock %}
