{% extends 'base.html' %}
{% block image-page %}

{% if tipo == 'carona' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'estudo' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419539966013521/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'extracurricular' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419758216617984/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'conhecer' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419982062436403/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'liga' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419863707557938/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endif %}

{% endblock %}

{% block content %}
<h5 class="text-center">{{ maiusculo }}</h5>

<a href="../{{ criar }}">+ Adicionar {{ minusculo }}</a>

<!doctype html>
<html lang = "pt-br">

<div class = "text-center" style = "color: rgba(0,0,0,1)">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#fitro_form">
                Filtrar por ↓
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="center">
            <div class="input-group mb-3 ms-4">
                <input type="text" class="form-control" placeholder="Barra de pesquisa" aria-label="Recipient's username" aria-describedby="basic-addon2" width="100">
                <button class="btn btn-outline-secondary me-5" type="button" id="button-addon2">P</button>
              </div>
        </div>
    </div>
    
</div>

<br>

{% if lista %}
    {% if tipo == "estudo" %}
        {% for i in lista %}
            {% include "includes/estudoCard.html" with estudo=i%}       
        {% endfor %}
    {% elif tipo == "carona" %}
        {% for i in lista %}
            {% include "includes/caronaCard.html" with carona=i%}       
        {% endfor %}
    {% elif tipo == "extracurricular" %}
        {% for i in lista %}
            {% include "includes/extracurrCard.html" with extra=i%}       
        {% endfor %}
    {% elif tipo == "conhecer" %}
        {% for i in lista %}
            {% include "includes/conhecerCard.html" with conhecer=i%}
        {% endfor %}
    {% elif tipo == "liga" %}
        {% for i in lista %}
            {% include "includes/ligaCard.html" with liga=i%}  
        {% endfor %}
    {% endif %}
{% else %}
    Não foram encontrados {{ plural }}
{% endif  %}


<!--Modal for filtragem-->
<form method="post">
    {% csrf_token %}
<div class="modal fade" id="fitro_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fitro_formLabel">Filtro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if tipo == 'estudo' %}
          <div class="form-group">
            <label for="">Matéria</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="materia"  value="{{estudos_temp.materia}}">
            </div>
                    
          <div class="form-group">
              <label for="">Local</label>
              <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="local"  value="{{estudos_temp.local}}">
          </div>

          {% elif tipo == 'carona' %}
            <div class="form-group">
                <label for="">Lugar de saída</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localSaida"  value="{{carona_temp.localSaida}}">
            </div>
            
            <div class="form-group">
                <label for="">Lugar de chegada</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localChegada"  value="{{carona_temp.localChegada}}">
            </div>

          {% endif %}
          
          <div class="form-group">
              <label for="">Vagas</label>
              <input type="number" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="vagas"  value="{{estudos_temp.vagas}}" min="0" max="16">
          </div>
          
          <div class="form-group">
              <label for="">Descrição</label>
              <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="adicionais"  value="{{estudos_temp.adicionais}}" >
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </div>
</div>
</form>

{% endblock  %}