{% extends 'base.html' %}
{% block image-page %}
    <img src="https://cdn.discordapp.com/attachments/1009800857631592489/1036480038025056286/settings.png" class="mx-auto d-block position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endblock %}

{% if tipo == 'carona' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'estudo' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419539966013521/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'extracurricular' %}
    <img src="https://media.discordapp.net/attachments/1004623388758777966/1019419758216617984/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'conhecer' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419982062436403/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% elif tipo == 'liga' %}
    <img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419863707557938/unknown.png" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
{% endif %}

{% block content %}

<!doctype html>
<html lang="pt-br">
    
<form action="" method="post">
    
    {% csrf_token %}
    <div class="container text-left" style="color: rgba(0,0,0,1)">
        <div class="form-group">
            <h4>Criando {{ minusculo }}</h4>
        </div>

        {% if tipo == "estudo" %}
            <div class="form-group">
                <label for="">Materia</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="materia"  value="{{ materia }}">
            </div>
        {% elif tipo == "extracurricular"%}
            <div class="form-group">
                <label for="">Atividade</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="atividade"  value="">
            </div>
        {% elif tipo == "conhecer" %}
            <div class="form-group">
                <label for="">Topico</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="interesses"  value="{{estudos_temp.interesses}}">
            </div>
        {% elif tipo == "liga" %}
            <div class="form-group">
                <label for="">Nome da liga</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="nome"  value="{{ nome }}">
            </div>
            <div class="form-group">
                <label for="">Atividade</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="atividade"  value="{{ligas_temp.atividade}}">
            </div>
        {% endif %}
        
        {% if tipo != "liga" %}
            <div class="form-group">
                <label for="">Data e horario</label>
                <input type="datetime-local" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="dataHora"  value="{{ dataHora }}">
            </div>
        {% endif %}

        {% if tipo != "carona" %}
            <div class="form-group">
                <label for="">Local</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="local"  value="{{ local }}">
            </div>
        {% else %}
            <div class="form-group">
                <label for="">Lugar de saida</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localSaida"  value="{{carona_temp.localSaida}}">
            </div>
            
            <div class="form-group">
                <label for="">Lugar de chegada</label>
                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="localChegada"  value="{{carona_temp.localChegada}}">
            </div>
        {% endif %}
        
        <div class="form-group">
            <label for="">Vagas</label>
            <input type="number" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="vagas"  value="{{ vagas }}" min="0" max="16">
        </div>
        
        <div class="form-group">
            <label for="">Descricao</label>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" width="100" name="adicionais"  value="{{ adicionais}}" >
        </div>
        
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="../{{ principal }}" type="reset" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Criar</button>
             </div>
        </div>
    </div>
</form>

{% endblock  %}
