{% extends 'base.html' %}
{% block image-page %}
<a href="{% url 'psiu:user_info' request.user.id %}">
    <img src="{{ user.perfil.fotoPerfil.url }}" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
</a>
{% endblock %}
{% block content %}

    <div class="row">
        <a href="{% url 'psiu:darkMode' %}">Modo Escuro</a>
    </div>
    <div class="row">
        <a href="{% url 'psiu:miopiaMode' %}">Modo Zoom</a>
    </div>
    <div class="row">
        <a href="{% url 'psiu:corMode' %}">Modo Colorido</a>
    </div>

{% endblock %}