{% extends 'base.html' %}
{% block image-page %}
<a href="{% url 'psiu:user_info' %}">
    <img src="{{ user.perfil.fotoPerfil.url }}" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
</a>
{% endblock %}
{% block content %}

<center>
    <p>{{ user.first_name }} {{ user.last_name }}</p>   
</center>

<br>
  <div class="container">
      <div class="row mb-5">
          <div class="d-grid gap-2 col mx-auto ms-5 me-5">
              <button class="btn btn-outline-secondary" type="button">
                  <div class="card-body">
                      <p class="card-text-start" style="font-weight:bold">Dados de contato<br></p>
                      <p class="card-text-start">Twitter: {{ user.perfil.twitter }}<br>Instagram: {{ user.perfil.twitter }}<br>Bio: {{ user.perfil.bio }}</p>
                  </div>
              </button>
          </div>
      </div>
      <div class="row mb-5">
          <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col">

                          </div>
                          <div class="col">
                              <a id="carona-link" class="btn btn-white" href="{% url 'psiu:carona' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1039839649834737725/Untitled-2.png" class="rounded-circle" height="100" width="100"></a>
                              <p>Carona</p>
                          </div>
                          <div class="col">
                              <a id="grupo-estudos-link" class="btn btn-white" href="{% url 'psiu:grupo_estudos' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1039835973950914570/Untitled-2.png" class="rounded-circle" height="100" width="100"></a>
                              <p>Grupo de Estudos</p>
                          </div>
                          <div class="col">
                              <a id="extracurriculares-link" class="btn btn-white" href="{% url 'psiu:extracurriculares' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1039835618223607899/Untitled-2.png" class="rounded-circle" height="100" width="100"></a>
                              <p>Atividades Extracurriculares</p>
                          </div>
                          <div class="col">

                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col">

                          </div>
                          <div class="col">
                              <a id="ligas-academicas-link" class="btn btn-white" href="{% url 'psiu:ligas_academicas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1039836952775622686/Untitled-2.png" class="rounded-circle" height="100" width="100"></a>
                              <p>Ligas Academicas</p>
                          </div>
                          <div class="col">
                              <a id="conhecer-pessoas-link" class="btn btn-white" href="{% url 'psiu:conhecer_pessoas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1039837525088403476/Untitled-2.png" class="rounded-circle" height="100" width="100"></a>
                              <p>Conhecer Pessoas</p>
                          </div>
                          <div class="col">
                              <p>?</p>
                          </div>
                          <div class="col">

                          </div>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
      <div class="row mb-5">
          <p class="text-center" style="font-weight:bold">Interacoes de Ana Luiza</p>
      </div>
        <div class="row mb-5 carona-card">
            <div class="d-grid gap-2 col mx-auto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{carona.nomeUser}}</h5>
                                <p class="card-text">Saindo de: {{carona.localSaida}}<br>Indo para: {{carona.localChegada}}</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{carona.dataHora}} <br>{{carona.nomeUser}}</p>
                                <p class="card-text">Vagas disponiveis: {{carona.vagas}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br>
        </div>

        <div class="row">
            <a href="{% url 'psiu:darkMode' %}" >Dark mode</a>
        </div>


  </div>
{% endblock  %}