{% extends 'baseChat.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<br>
    <form id="post-form" method="POST" action="checkview" class="form-group">
        {% csrf_token %}
        <div class="row form-row">
            <div class="col">
                <label>Sala</label>
                <input class="form-control" type="text" name="room_name" id="room_name" width="100px" />
            </div>
            
        </div>
<br>
                <input class="btn btn-primary" type="submit" value="Entrar">
    </form>

</body>


</html>
{% endblock %}
