{% extends 'base.html' %}
{% block image-page %}
<a href="{% url 'psiu:user_info' %}">
    <img src="{{ user.perfil.fotoPerfil.url }}" class="mx-auto d-block rounded-circle position-absolute top-100 start-50 translate-middle" height="100" width="100" style="margin-top:23px">
</a>
{% endblock %}
{% block content %}

<!doctype html>
<html lang="pt-br">

    <center>
        <p>{{ user.first_name }} {{ user.last_name }}</p>   
    </center>

    <div class="container text-center">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <a id="carona-link" class="btn btn-white" href="{% url 'psiu:carona' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419664142581821/unknown.png" class="rounded-circle" height="100" width="100"></a>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <a id="grupo-estudos-link" class="btn btn-white" href="{% url 'psiu:grupo_estudos' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419539966013521/unknown.png" class="rounded-circle" height="100" width="100"></a>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                Carona
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                Grupo de Estudos
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <a id="extracurriculares-link" class="btn btn-white" href="{% url 'psiu:extracurriculares' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419758216617984/unknown.png" class="rounded-circle" height="100" width="100"></a>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <a id="ligas-academicas-link" class="btn btn-white" href="{% url 'psiu:ligas_academicas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419863707557938/unknown.png" class="rounded-circle" height="100" width="100"></a>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                Atividades Extracurriculares
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                Ligas Acadêmicas
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <a id="conhecer-pessoas-link" class="btn btn-white" href="{% url 'psiu:conhecer_pessoas' %}" role="button"><img src="https://cdn.discordapp.com/attachments/1004623388758777966/1019419982062436403/unknown.png" class="rounded-circle" height="100" width="100"></a>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                Conhecer Pessoas
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <a href="{% url 'psiu:logout' %}">Log out</a>
        </div>

    </div>
</html>


{% endblock %}